:root {

  --corDaLetra: #594534;

  --corDoFundo: #FDF5EB;

}

*{

  margin: 0;

  padding: 0;

}

body {

  background-color: var(--corDoFundo);

  color: var(--corDaLetra);

  font-family: 'Poppins';

}

.header {

  margin-top: 2em;

  text-align: center;

}

h1 {

  font-family: "Allura";

  font-size: 3em;

  text-align: center;

}

.header p {

  font-family: "Montserrat";

  font-size: 8px;

}

.alunos {

  display: flex;

  gap: 0.5em;

  flex-direction: column;

  text-align: center;

  

} 

#lore {

  margin-top: 6em;

}

h2 {

  font-family: 'Montserrat';

  text-align: center;

  margin-top: 1em;

}

.alunos div strong{

  text-decoration: none;

}

.fonte-da-vida p{

  font-size: 13px;

  margin: 0.4em;

}

.infos-meta p{

  text-align: center;

  font-weight: 500;

  font-size: 11px;

  

}

.infos-meta {

  display: flex;

  flex-direction: column;

  gap: -5em;

  padding-top: 10px;

}

#cima{

  width: 100%;

  margin-bottom: -6px;

}

#fonte {

  margin-top: -35px;

  position: relative;

  z-index: 998;

  margin-bottom: -400px;

}

#fonte-2 {

  position: relative;

  z-index: 999;

}

img {

  width: 100%;

  margin-bottom: -20px;

}

#sla {

  position: relative;

  z-index: 999;

}

#sla-2 {

  margin-top: -15px;

  position: relative;

  z-index: 998;

}
